<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CarlUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <applicationSettings>
    <CarlUI.Properties.Settings>
      <setting name="ADS_Connection_IP" serializeAs="String">
        <value>5.54.16.198.1.1</value>
        <!-- <value>5.54.18.134.1.1</value> -->
      </setting>
      <setting name="ADS_Connection_Port" serializeAs="String">
        <value>851</value>
      </setting>
    </CarlUI.Properties.Settings>
  </applicationSettings>
</configuration>